{% extends "base.html" %}

{% block contenido %}

<h2>Resultados con ≤ {{ max_alcohol }}g de alcohol</h2>
<a href="{{ url_for('index') }}">Volver</a>
<hr>

{% if recipes %}
    {% for r in recipes %}
        <div style="margin-bottom:25px;">
            <h3>{{ r.title }}</h3>

            {% if r.image %}
                <img src="{{ r.image }}" width="200"><br>
            {% endif %}

            {% if r.nutrition and r.nutrition.nutrients %}
                <strong>Alcohol:</strong>
                {% for n in r.nutrition.nutrients %}
                    {% if n.name == "Alcohol" %}
                        {{ n.amount }} {{ n.unit }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <p>No se encontraron recetas.</p>
{% endif %}

{% endblock %}
